body {
    background-image: url("../images/infa_3.png");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;

    font-family: Arial, sans-serif;
}






.login{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateY(-150px);
}








.login h1 {
    color:black;
    text-align: center;
    font-size: 30px;
}

.login input {
    width: 350px;
    font-size: 20px;
}
.login button{
    font-size: 33px;
    background-color: rgb(59, 130, 246);
    transform: translateY(-5px);
    border-radius: 22px;
    padding: 3px;
    color: white;
}
button:hover {
    background-color: #1b65c2;
}

.login {
    background-color:white;
    padding: 40px;
    border-radius: 20px;
}
.new_ac{
    display: flex;
    justify-content: center;
    color: #1b65c2;
    font-size: 18px;
    transform: translateY(10px);
    
}
.new_ac:hover{
    color: rgb(138, 81, 138);
}

#loadingMessage {
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}